%h2.ui.center.aligned.header= 'Welcome to the WeChat app'
%h4.ui.center.aligned.medium.icon.header
  %i.circular.power.icon.app_color
  Login or register to continue

.ui.placeholder.segment
  .ui.two.column.very.relaxed.stackable.grid
    .column
      = form_for :session, html: {class: 'ui form', role: 'form'}, url: login_path do |f|
        .field
          = f.label :username, 'Username'
          .ui.left.icon.input
            = f.text_field :username, placeholder: 'Username'
            %i.user.icon.app_color
        .field
          = f.label :password, 'Password'
          .ui.left.icon.input
            = f.password_field :password, placeholder: 'Password'
            %i.lock.icon.app_color
        = f.submit 'Login', class: 'ui inv_app_color submit button'
    .middle.aligned.column
      .ui.big.button.inv_app_color.btn_disabled
        %i.signup.icon
        Sign Up
  .ui.vertical.divider
    Or
