!!!
%html
  %head
    %title= MessagesApp
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all"
    = javascript_importmap_tags

  %body
    .ui.small.inverted.menu
      .ui.container
        %a.item
          Home
        %a.item
          Messages
        .right.menu
          .ui.dropdown.item
            Language
            %i.dropdown.icon
            .menu
              %a.item English
              %a.item Russian
              %a.item Spanish
          .item
            .ui.primary.button Sign Up
    .ui.container{data: {controller: params[:controller]}}
      = yield
