!!!
%html
  %head
    %title= MessagesApp
    = favicon_link_tag 'messages-favicon.ico'
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all"
    = javascript_importmap_tags

  %body
    .ui.small.inverted.menu
      .ui.container
        = render partial: 'layouts/navigation_bar'
    .ui.container{data: {controller: "chatroom #{params[:controller]}"}}
      = render partial: 'layouts/messages'
      = yield
